/* Header and navigation bar styling start */
header.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
header.container-fluid nav{
    background: linear-gradient( rgba(117, 110, 110, 0.596), 
    rgba(234, 235, 236, 0.808)), url(../Material/Images/banner-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    /* background-position: center; */
}
header.container-fluid nav .container .navbar-collapse{
    flex-grow: 0;
}
header.container-fluid nav .container .navbar-collapse .navbar-nav .nav-item{
    margin-right: 1rem;
}
header.container-fluid nav .container .navbar-collapse .navbar-nav .nav-item:last-child{
    margin-right: 0;
}
header.container-fluid nav .container .navbar-collapse .navbar-nav .nav-item a{
    padding: 10px 19px;
    font-size: 13px;
    border-radius: 100px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
header.container-fluid nav .container .navbar-collapse .navbar-nav .nav-item a:hover{
    background-color: var(--primary);
    padding: 10px 19px;
    font-size: 13px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
header .card{
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
header .card img{
    opacity: 0.8;
}
header .card .card-img-overlay{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
header .card .card-img-overlay h1{
    font-size: 55px;
    font-weight: 800;
}
header .card .card-img-overlay p{
    font-family: 'poppins-medium';
    font-weight: 200;
    font-size: 20px;
    line-height: 1.5;
}
/* Header and navigation bar styling end */





/* About us styling start */
.about-us figure img{
    box-shadow: -52px -50px 0px 0px var(--primary);
    background-color: rgb(209, 204, 204);
    padding: 2rem 4rem;
}
.about-us .last-figure img{
    box-shadow: 52px -50px 0px 0px var(--primary);
}
.about-us .container .row .card-text{
    line-height: 32px;
    font-family: 'poppins-regular';
}
.about-us .container .row .box{
    margin: 0 auto;
}
/* About us styling end */





/* Our-clients styling start */
.our-clients .container-fluid .container .row h4{
    font-size: 16px;
    font-weight: 800;
    font-family: 'poppins-bold';
}
.our-clients .container-fluid .container .row span{
    color: var(--ternary);
    font-size: 12px;
}
/* Our-clients styling end */



/* Project styling start */

.counter{
    color: #fff;
    background: linear-gradient(to right bottom, #FFD81B, #f9b12a);
    font-family: 'Dosis', sans-serif;
    text-align: center;
    width: 180px;
    height: 180px;
    padding: 40px 20px 20px;
    margin: 0 auto;
    border-radius: 10px 10px 100px 100px;
    box-shadow: 0 0 15px -5px rgba(0,0,0,0.3);
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.counter:after{
    content: '';
    background-color: #f9b12a;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.counter .counter-value{
    font-size: 55px;
    font-weight: 200;
    line-height: 40px;
    margin: 0 0 15px;
    display: block;
}
.counter h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 20px;
}
.counter.green{ background: linear-gradient(to right bottom, #a9dd23, #52C242); }
.counter.green:after{ background: #52C242; }
.counter.cgreen{ background: linear-gradient(to right bottom, #01AD9F, #008888); }
.counter.cgreen:after{ background: #008888; }
.counter.blue{ background: linear-gradient(to right bottom, #00C5EF, #0092f4); }
.counter.blue:after{ background: #0092f4; }
/* Project styling end */




/* Footer styling start */
footer .container .row p{
    font-family: 'poppins-regular';
    line-height: 29px;
}
footer .container .row form .form-control{
    background-color: var(--form-color);
    outline: none;
    border: 0px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    box-shadow: none;
    color: var(--secondary);
    font-family: 'poppins-regular';
    font-size: 14px;
    font-weight: 200;
    padding: 1.2rem 19px;
}
footer .container .row form textarea{
    height: 12rem !important;
}
footer .container .row .links a{
    color: var(--secondary);
    font-family: 'poppins-regular';
    text-decoration: none;
    text-transform: capitalize;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
footer .container .row .links a:hover{
    color: var(--ternary);
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}
footer .container .row .icons a i{
    font-size: 1.4rem;
    color: var(--primary);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}
footer .container .row .icons a:first-child i:hover{
    color: #316FF6;
}
footer .container .row .icons a:nth-last-child(2) i:hover{
    color: #34A853;
}
footer .container .row .icons a:last-child i:hover{
    color: #26a7de;
}
/* Footer styling end */





/* Responsive media query start */
@media (max-width: 991px){
    section.services{
        margin-top: 5rem !important;
    }
    .services .row .box,
    .our-clients .container-fluid .row .box{
        background-color: #ebe8e0d2;
        padding: 2rem 2rem 1rem 2rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .services .row .box-three,
    .services .row .box-four{
        margin-top: 3.2rem;
    }}
    
    /* section.about-us,
    section.project,
    section.our-clients{
        margin-top: 7rem !important;
    }
    .about-us figure img{
        box-shadow: -38px -35px 0px 0px var(--primary);
    }
    .sec-heading{
        line-height: 50px !important;
        font-size: 40px !important;
    }
    .about-us .container .row .card-body .card-text{
        padding: 8px 0 0 0 !important;
    }
    .about-us .container .wrap{
        margin-top: 3rem !important;
    }
    .about-us .last-figure img{
        box-shadow: 35px -38px 0px 0px var(--primary);
    }
    .our-clients .container-fluid{
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .our-clients .container-fluid .row .box-three{
        margin-top: 3rem;
    }
    .our-clients .container-fluid .row .box figure{
        border: 7px solid var(--secondary);
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
    }
    footer .container .row .box-two,
    footer .container .row .box-three,
    footer .container .row .box-four{
        margin-top: 1.3rem !important;
    }
    footer .container .row form .form-control{
        padding: 10px 19px;
        border-radius: 0px 0px 10px 10px;
        -webkit-border-radius: 0px 0px 10px 10px;
        -moz-border-radius: 0px 0px 10px 10px;
        -ms-border-radius: 0px 0px 10px 10px;
        -o-border-radius: 0px 0px 10px 10px;
    }
} */



/* @media (max-width: 767px){
    header .card .card-img-overlay{
        padding: 2rem 0 !important;
    }
    header nav .container .navbar-brand .img-fluid{
        max-width: 66%;
    }
    header .card .card-img-overlay h1{
        font-size: 40px;
    }
    header .card .card-img-overlay .card-text{
        margin: 0.4rem 0.4rem !important;
    }
    header .card .card-img-overlay p{
        font-size: 15px;
    }


    .services .row .box-three, .services .row .box-two{
        margin-top: 3.2rem !important;
    }
    .about-us .container .row .box-one{
        margin-left: 3rem !important;
    }
    .about-us .container .row .box-four{
        margin-left: 4rem !important;
    }
    .about-us .container .row .box{
        justify-content: flex-start !important;
    }
    .about-us figure img{
        max-width: 85%;
    }
    .sec-heading {
        line-height: 46px !important;
        font-size: 36px !important;
    }
    .about-us .container .row .card-body .card-text {
        padding: 2px 0 0 0 !important;
    }
    .about-us .container .row .box-four,
    .about-us .container .row .box-one{
        margin-top: 4rem;
    }
    .about-us .container .row .wrapper{
        display: flex;
        flex-direction: column-reverse;
    }
    .about-us .last-figure img {
        box-shadow: -38px -35px 0px 0px var(--primary);
    }




    .project .container .wrapper{
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .project .container .wrapper figure{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project .container .wrapper figure .img-fluid{
        max-width: 85% !important;
    }
    .project .container .row .box .counter{
        width: 130px;
        height: 130px;
    }
    .project .container .row .box .counter .counter-value{
        font-size: 30px;
        font-family: 'poppins-semibold';
        line-height: 0px;
        margin: 0 0 16px;
    }
    .project .container .row .box .counter h3{
        font-size: 14px;
        font-family: 'poppins-semibold';
    }




    .our-clients .container .row{
        padding-top: 1rem !important;
    }
    .our-clients .container .row .box-two{
        margin-top: 3rem;
    } 

} */
/* Responsive media query end */